:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-background: #ffffff;
  --secondary-background: #2f303a;
  --accent-color: #2196f3;
  --button-background: #f5f4fa;
  --button-active: #188ce8;
  --footer-contact: rgba(255, 255, 255, 0.6);
  --logo: #000000;
  --border-line: #ececec;
  --social-icon: #afb1b8;
  --portfolio-gap: 30px;
  --time-declaration: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font-family: Roboto, sans-serif;
}
